name: CI

on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.12

      - name: Run pylint
        run: |
          uv venv
          source .venv/bin/activate
          # TODO: installation of dependencies should be improved
          # after support for TOML files for scripts is added.
          # Ref.: https://github.com/astral-sh/uv/issues/5903
          uv pip install pylint
          uv pip install azure-containerregistry azure-identity click colorlog humanize
          uv run pylint *.py
